
## <summary>policy for ubizcoin</summary>


########################################
## <summary>
##	Transition to ubizcoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`ubizcoin_domtrans',`
	gen_require(`
		type ubizcoin_t, ubizcoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, ubizcoin_exec_t, ubizcoin_t)
')


########################################
## <summary>
##	Execute ubizcoin server in the ubizcoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ubizcoin_initrc_domtrans',`
	gen_require(`
		type ubizcoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, ubizcoin_initrc_exec_t)
')


########################################
## <summary>
##	Search ubizcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ubizcoin_search_lib',`
	gen_require(`
		type ubizcoin_var_lib_t;
	')

	allow $1 ubizcoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read ubizcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ubizcoin_read_lib_files',`
	gen_require(`
		type ubizcoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, ubizcoin_var_lib_t, ubizcoin_var_lib_t)
')

########################################
## <summary>
##	Manage ubizcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ubizcoin_manage_lib_files',`
	gen_require(`
		type ubizcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, ubizcoin_var_lib_t, ubizcoin_var_lib_t)
')

########################################
## <summary>
##	Manage ubizcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ubizcoin_manage_lib_dirs',`
	gen_require(`
		type ubizcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, ubizcoin_var_lib_t, ubizcoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a ubizcoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`ubizcoin_admin',`
	gen_require(`
		type ubizcoin_t;
		type ubizcoin_initrc_exec_t;
		type ubizcoin_var_lib_t;
	')

	allow $1 ubizcoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, ubizcoin_t)

	ubizcoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 ubizcoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, ubizcoin_var_lib_t)

')

